 <div class="navbar">
        <!--<h2 class="menu-title">Stockify</h2> -->
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/inventory">Inventory</a></li>
            <li><a href="/sales">Sales</a></li>
            <li><a href="/expenses">Expenses</a></li>
            <li><a href="/settings">Settings</a></li>
        </ul>
        <div class="logout-button">
            <a href="/logout">Log out</a>
        </div>
</div>
