<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="main-content">
    <h2> Information du compte</h2>
    <p style="padding-top: 5px;">Gerer vos infromatiosn personnelles</p>
</br>
    <div class="user-info-container">
        <p >E-mail address</p>
        <input type="email">
        <p style="padding-top: 5px;">Nouveau mot de passe</p>
        <input type="email">
        <p style="padding-top: 5px;">Confimer le mot de passe</p>
        <input type="email">
    </div>


    <div class="user-preference">
        

    </div>

    <div class="user-notifications">
        

    </div>

    <div>
        
    </div>
</div>
<%- include('partials/footer') %>
